
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #eee;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.noto-sans {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.roboto-mono {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #29282d;
}

#app {
    margin-top: 80px;
}

#timer-text {
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: #eee;
    margin: 6px;
}

#timer-subtext {
    border: 1px solid transparent;
    border-radius: 5px;
    width: fit-content;
    display: none;
    margin: auto;
    padding: 6px;
    padding-inline: 14px;
    font-weight: bold;
    color: rgb(197, 197, 197);
}

#end-timer-button {
    display: block;
    margin: auto;
    margin-block: 20px;
    width: 70px;
    height: 70px;
    border: 2px solid #ff5a64;
    border-radius: 50%;
    background: transparent;
    padding: 4px;
    cursor: pointer;
}

#end-timer-inner-circle {
    background-color: #533336;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease-in-out;
    opacity: 100%;
}

#end-timer-button-icon {
    border-radius: 3px;;
    background-color: #ffdedd;
    width: 40%;
    height: 40%;
    transition: 0.25s ease-in-out;
}

#end-timer-button:hover #end-timer-inner-circle #end-timer-button-icon {
    background-color: #ccb3b2;
}

#end-timer-button:active #end-timer-inner-circle {
    opacity: 0%;
}

#end-timer-button:disabled {
    opacity: 50%;
    cursor: default;
}

#categories-container {
    display: flex;
    justify-content: center;
}

#categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 250px;
    overflow-y: auto;
    width: fit-content;
}

#categories::-webkit-scrollbar {
    width: 0px; /* Slim scrollbar width */
}

.category-button {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    align-items: center;
    width: 320px;

    overflow: hidden;
    white-space: nowrap;

    background-color: #343338;
    color: #fefefe;
    font-weight: bold;
    cursor: pointer;
    margin-block: 10px;
    border-radius: 4px;
    padding: 14px;
    border: none;
    transition: 0.25s ease-in-out;
}

.category-button:not(:disabled):hover {
    background-color: #49484e;
}

.category-button:not(:disabled):active {
    background-color: #2b2a2e;
}

.category-button:disabled {
    opacity: 60%;
    cursor: default;
}

.category-button > .category-button-icon {
    width: 25px;
    height: 25px;
    border-radius: 4px;
    margin-right: 8px;
    flex-shrink: 0;
}

.category-button > .category-title {
    flex-grow: 1;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #494242;
    margin: 1em 0;
    padding: 0;
}

#data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time-selection-row {
    display: flex;
    flex-direction: row;
    background-color: #626166;
    width: fit-content;
    border-radius: 10px;
}

#time-selection-row button {
    border-radius: 10px;
    border: none;
    background: none;
    color: white;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
    padding-block: 6px;
    padding-inline: 20px;
    width: 8em;
}

#time-selection-row button.selected {
    color: black;
    background-color: white;
}

#chart-move-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#chart-move-buttons button {
    cursor: pointer;
    margin-inline: 44px;
    background: none;
    color: white;
    font-weight: bold;
    font-family: "Noto Sans", serif;
    border: none;
    font-size: 22px;
}

#chart {
    margin-block: 20px;
    border-radius: 10px;
    width: 450px;
    color: #eee;
    font-family: "Noto Sans", serif;
    position: relative;
    height: 200px;
}

#chart-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.chart-h-line {
    height: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.chart-h-line p {
    font-weight: bold;
    width: 38px;
    color: #aaa;
    font-size: 14px;
}

.chart-h-line div {
    height: 0px;
    border-bottom: 1px solid white;
    width: 100%;
}

#chart-foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#chart-foreground > #spacer {
    width: 38px;
}

#chart-foreground .bar-column {
    width: 36px;
    height: 200px;
    margin-inline: 11px;
    cursor: pointer;
}

#chart-foreground .bar-column > div {
    height: 180px;
    width: 100%;
}

#chart-foreground .bar {
    width: 100%;
    background-color: #ff5c5d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transform: translateY(0px);
    height: 180px;
}

#chart-foreground .bar-column > p {
    text-align: center;
    margin: 0;
    margin-top: 3px;
    font-size: 14px;
    color: #ccc;
}

#category-breakdown {
    width: 450px;
}

#category-breakdown p {
    color:#b2b3b7;
    font-family: "Noto Sans", serif;
    font-weight: bold;
    font-size: 14px;
}

#category-breakdown > p {
    margin-bottom: 4px;
}

#category-data > #total {
    margin: 0;
    margin-left: 8px;
    color: #ccc;
}

.category-data-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-inline: 8px;
    padding-block: 15px;
}

.category-data-row .category-data-icon {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    margin-right: 8px;
    flex-shrink: 0;
}

.category-data-row .category-data-title {
    color: #d4d4d4 !important;
    font-size: 17px !important;    
    margin: 0;
}

.category-data-row .category-data-focus-time {
    font-size: 14px !important;
    font-weight: normal !important;
    margin: 0;
}

#footer {
    height: 400px;
}